@{
	ViewData["Title"] = "Access Denied";
}

<div class="container-fluid">
	<div class="error mx-auto" data-text="401">401</div>
	<p class="lead text-gray-800 mb-5">You are not authorized</p>
	<a asp-action="Index" asp-controller="Post" asp-area="Admin">Go back to Dashboard</a>
</div>