@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<header class="masthead" style="background-image: url('/Blog/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About us</h1>
                    <span class="subheading">Your platform for sharing stories and connecting with readers</span>
                    </div>
                   
            </div>
        </div>
    </div>
</header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
            <div>
                <section>
                <h2>Our Mission</h2>
                <p>At <strong>FunBlog</strong>, we believe everyone has a story worth telling. Our platform empowers users to:</p>
                <ul>
                    <li><strong>Write & Publish</strong> – Share your thoughts, stories, and expertise effortlessly</li>
                    <li><strong>Connect & Engage</strong> – Interact with readers through comments and reactions</li>
                    <li><strong>Discover</strong> – Explore diverse perspectives from a growing community of bloggers</li>
                </ul>
                </section>

              

                <section>
                    <h2>Meet the Team</h2>
                    <p>We're a group of writers, developers, and creatives passionate about making blogging accessible and enjoyable for everyone.</p>
                </section>
            </div>
        </div>
            </div>
        </div>
    