@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Privacy Policy";
}
<header class="masthead" style="background-image: url('/Blog/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Privacy Policy</h1>
                    <span class="subheading">Last updated: January 1 2025</span>
                    </div>
                       
            </div>
        </div>
    </div>
</header>


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <div>
                <section>
                    <h2>1. Information We Collect</h2>
                    <p>We collect information when you:</p>
                    <ul>
                        <li>Register for an account</li>
                        <li>Create or edit blog posts</li>
                        <li>Contact us through forms</li>
                        <li>Subscribe to newsletters</li>
                    </ul>
                </section>

                <section>
                    <h2>2. How We Use Your Information</h2>
                    <p>We use the information we collect to:</p>
                    <ul>
                        <li>Provide and improve our services</li>
                        <li>Personalize your experience</li>
                        <li>Communicate with you</li>
                        <li>Ensure platform security</li>
                    </ul>
                </section>

                <section>
                    <h2>3. Data Sharing</h2>
                    <p>We do not sell your personal data. We may share information with:</p>
                    <ul>
                        <li>Service providers who assist our operations</li>
                        <li>Legal authorities when required by law</li>
                    </ul>
                </section>

                <section>
                    <h2>4. Your Rights</h2>
                    <p>You have the right to:</p>
                    <ul>
                        <li>Access your personal data</li>
                        <li>Request correction or deletion</li>
                        <li>Opt-out of marketing communications</li>
                        <li>Withdraw consent where applicable</li>
                    </ul>
                </section>

                <section>
                    <h2>5. Cookies</h2>
                    <p>We use cookies to:</p>
                    <ul>
                        <li>Remember your preferences</li>
                        <li>Analyze site traffic</li>
                        <li>Improve user experience</li>
                    </ul>
                    <p>You can disable cookies in your browser settings.</p>
                </section>


                
 
            </div>
        </div>
    </div>
</div>
